python-dotenv
pyyaml>=6.0
git+https://github.com/andrewyng/aisuite.git@4e429e07f187d9b8bf8783bb13cff9051202e7ea
aisuite[anthropic]
aisuite[google]
aisuite[xai]
aisuite[openai]
aisuite[mistral]
pandas>=2.0.0
numpy>=1.24.0
pytest>=8.3.5